footer
	background blue
	padding 40px
	text-align center

	a
		border-bottom white dashed 1px
		transition color 350ms 0ms ease-in-out, border-color 350ms 0ms ease-in-out

		&:hover
			color gray
			border-color gray
