// Header wiwth a shadow
.header
	text-align center
	padding 40px 0 80px
	margin auto
	> span
		background white
		color gray
		padding 30px
		display inline-block
		box-shadow standard-shadow
		.blue &
			background gray
			color white

// Global block container
.block
	max-width max-width
	padding: 80px
	margin 0 auto
	&.blue
		background: blue

// A 2-col layout with padding
.cols-2
	clearfix()
	> *
		float left
		width 50%

		&:first-child {
			padding-right 40px

			+ * {
				padding-left 40px
			}
		}
