@import url('https://fonts.googleapis.com/css?family=Roboto:400,700')
@import 'variables.styl'

// Default links
a
	text-decoration none
	color inherit

// Turn box sizing on everywhere
*, *:before, *:after {
	box-sizing border-box
}

// Make images fill containers by default
img
	max-width 100%
	height auto

// Default to antialising everything
* {
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
}

// Default typography styles
body
	color white
	background gray
	font-family 'Roboto', sans-serif;
