@import 'normalize.styl'
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Roboto:400,700,400italic');
@import 'variables.styl'
@import 'mixins.styl'
@import 'shared.styl'

// Default links
a
	text-decoration none
	color inherit

// Turn box sizing on everywhere
*, *:before, *:after {
	box-sizing border-box
}

// Make images fill containers by default
img
	max-width 100%
	height auto

// Default to antialising everything
* {
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	box-sizing border-box
}

// Global max width
.max-width
	max-width max-width
	padding-left 80px
	padding-right 80px
	margin 0 auto


// Default typography styles
body
	color white
	background gray
	font-family 'Roboto', sans-serif
	font-size 18px

h1
	font-family 'Roboto Condensed', sans-serif
	font-weight: 300
	font-size 42px
	text-transform uppercase

h2
	font-size 30px
	text-transform uppercase
	letter-spacing -1px

p
	line-height 1.4em
