// Colors
gray = #556270
green = #c7f464
red = #fd6b6a
white = #f3f4f4
teal = #4dccc3
lightgray = #a1a1a1
blue = #64d2e9

// Sizes
max-width = 1366

// Misc
standard-shadow = 0 3px 8px rgba(0,0,0,0.2);
