# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
dist
bower_components
node_modules
npm-debug.log
_docs
build
.DS_Store
build/build.js
build/build.js.map
build/style.css
build/style.css.map
