.block.blue.intro
	.cols-2
		.left
			%h1.header
				%span The goal
			%p Governor Brown <a href="https://www.gov.ca.gov/news.php?id=17508" target="_blank">has required</a> that all agencies reduce greenhouse gas emissions by at least 10% of their 2010 levels by 2015.  And by 2020, these reductions should be at 20%.
			%p The state is currently meeting and these exceeding these targets as a whole.
		.right
			%canvas.chart(v-el='chart')
