.block.compare
	.content
		%h1.header(v-class="show: isVisible, hide: !isVisible")
			%span Compare to what we know

		%p(v-class="show: isVisible, hide: !isVisible")
			California government agencies reducing their CO<sup>2</sup> emissions by 10% is like

		%h2(v-class="show: isVisible, hide: !isVisible") 55,000 Cars

		%p(v-class="show: isVisible, hide: !isVisible") being taken off the streets.

		.cars(v-class="show: isVisible, hide: !isVisible")
			.car(v-repeat="n in 55")
				%img(v-attr='src: src')
