@import '~variables.styl'
@import '~mixins.styl'

.leaders

	// Setup columns
	.cols
		clearfix()
		> *
			float left
			width 50%


	// The col headers
	h2
		font-size 30px
		text-align center
		border-bottom 10px solid
		display inline-block
	.best h2
		border-bottom-color green
