.leaders(class='type-{{type}}')
	%h1 Of all the agencies in California

	.cols

		.the-best
			%h2 The best
			.leader(v-repeat='org in best')
				.name
					%span.rank {{org.rank}}
					{{ org.name }}
				.perc
					.bar(v-style='width: org.reduction | percent') {{ org.reduction | percent 1 }}

		.the-worst
			%h2 The worst
			.leader(v-repeat='org in worst')
				.name
					%span.rank {{org.rank}}
					{{ org.name }}
				.perc
					.bar(v-style='width: org.reduction | percent') {{ org.reduction | percent 1 }}
