.leaders(class='type-{{type}}')
	%h1 Of all the agencies in California

	.cols

		.the-best
			%h2 The best
			%li(v-repeat='org in best')
				%span.name {{ org.name }}
				%span.bar(v-style='width: org.reduction | percent') {{ org.reduction | percent 1 }}

		.the-worst
			%h2 The worst
			%li(v-repeat='org in worst')
				%span.name {{ org.name }}
				%span.bar(v-style='width: org.reduction | percent') {{ org.reduction | percent 1 }}
