.leaders(class='type-{{type}}')
	%h1 {{ title }}

	%ol.organizations
		%li(v-repeat='org in leaders')
			%span.name {{ org.name }}
			%span.bar(v-style='width: org.reduction | percent') {{ org.reduction | percent 1 }}
