.leaderboard
	%h1.header.dark
		%span How everyone stacks up
	%ul.organizations
		%li.list-header
			%span.rank Rank
			%span.name Agency Name
			%span.pass-fail Pass/Fail
			%span.reduction Reduction
		%li(v-repeat='org in organizationsWithStats')
			%org-detail(org="{{ org }}")
