@import '~variables.styl'
@import '~mixins.styl'

.energy-types
	width 50%
	height 400px
	text-align center
	float: right;
	
	h4
		background gray
		padding 0px 20px
		font-size 18px
		font-weight 600
		text-transform uppercase
		display: inline-block

	canvas
		width 100% !important
		height auto !important
